<h3>Demo title dialog</h3>
<div class="card">
  <div class="card-body">

    <h6>Simple dialog</h6>

    <div class="dropdown-divider"></div>

    <!--Confirmation dialog-->
    <div class="form-group">
      <button class="btn btn-outline-primary mr-2"
              (click)="displayConfirmationDialog()">
        <span>{{'TITLE_DISPLAY_CONFIRMATION_DIALOG' | translate}}</span>
      </button>

      <button class="btn btn-outline-primary"
              (click)="displayConfirmationDialog(true)">
        <span>{{'TITLE_DISPLAY_CONFIRMATION_DIALOG_WITH_DEFAULT_ICON' | translate}}</span>
      </button>
    </div>

    <!--Error dialog-->
    <div class="form-group">
      <button class="btn btn-outline-danger mr-2"
              (click)="displayErrorDialog()">
        <span>{{'TITLE_DISPLAY_ERROR_DIALOG' | translate}}</span>
      </button>

      <button class="btn btn-outline-danger"
              (click)="displayErrorDialog(true)">
        <span>{{'TITLE_DISPLAY_ERROR_DIALOG_WITH_DEFAULT_ICON' | translate}}</span>
      </button>
    </div>

    <!--Info dialog-->
    <div class="form-group">
      <button class="btn btn-outline-info mr-2"
              (click)="displayInfoDialog()">
        <span>{{'TITLE_DISPLAY_INFO_DIALOG' | translate}}</span>
      </button>

      <button class="btn btn-outline-info"
              (click)="displayInfoDialog(true)">
        <span>{{'TITLE_DISPLAY_INFO_DIALOG_WITH_DEFAULT_ICON' | translate}}</span>
      </button>
    </div>

    <!--Warning dialog-->
    <div class="form-group">
      <button class="btn btn-outline-warning mr-2"
              (click)="displayWarningDialog(false)">
        <span>{{'TITLE_DISPLAY_WARNING_DIALOG' | translate}}</span>
      </button>

      <button class="btn btn-outline-warning"
              (click)="displayWarningDialog(true)">
        <span>{{'TITLE_DISPLAY_WARNING_DIALOG_WITH_DEFAULT_ICON' | translate}}</span>
      </button>
    </div>

  </div>
</div>
