<!--Dialog header-->
<ng-container [ngSwitch]="getTitleType()">
  <ng-container *ngSwitchCase="'template'"
                [ngTemplateOutlet]="title">
  </ng-container>

  <ng-container *ngSwitchCase="'string'">
    <div class="modal-header {{getTitleBackgroundColor()}}"
         *ngIf="title && title.length">
      <!--Text title-->
      <h4 class="modal-title">{{title}}</h4>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'html'">
    <!--Html content title-->
    <div *ngIf="title && title.content && title.content.length"
         [innerHTML]="title.content"></div>
  </ng-container>

</ng-container>


<!--Dialog body-->
<div class="modal-body">

  <!--Icon-->
  <div class="row">
    <div class="col-12"
         [ngSwitch]="getIconKind()">

      <!--Html icon-->
      <div *ngSwitchCase="'html'"
           [innerHTML]="getIcon() | toHtmlContentValue">
      </div>

      <!--Template icon-->
      <ng-container *ngSwitchCase="'template'"
                    [ngTemplateOutlet]="getIcon()">
      </ng-container>
    </div>
  </div>

  <ng-container [ngSwitch]="getMessageType()">
    <!--Content-->
    <div class="row">
      <div class="col-12">
        <!--Template message-->
        <ng-container *ngSwitchCase="'template'"
                      [ngTemplateOutlet]="message"></ng-container>

        <!--Html content-->
        <div *ngSwitchCase="'html'"
             [innerHTML]="message | toHtmlContentValue"></div>

        <!--Text content-->
        <ng-container *ngSwitchDefault>
          <div *ngIf="message && message.length">{{ message }}</div>
        </ng-container>
      </div>
    </div>
  </ng-container>


</div>

<!--Dialog footer-->
<div class="modal-footer"
     *ngIf="buttons && buttons.length">

  <ng-container *ngFor="let button of buttons"
                [ngSwitch]="getButtonType(button)">

    <!--Basic button-->
    <button
      *ngSwitchCase="'basic'"
      [class]="getDialogButtonClass(button)"
      (click)="dialogButtonClicked(button)"
      type="button"
    >
      <ng-container [ngSwitch]="getButtonContentType(button.content)">

        <!--Template-->
        <ng-container *ngSwitchCase="'template'">
          <ng-template [ngTemplateOutlet]="button.content"
                       [ngTemplateOutletContext]="{ $implicit: button}"></ng-template>
        </ng-container>

        <!--Html content-->
        <div *ngSwitchCase="'html'"
             [innerHTML]="button.content">
        </div>

        <!--Text content-->
        <ng-container *ngSwitchDefault>{{button.content}}</ng-container>
      </ng-container>
    </button>

    <!--Template button-->
    <ng-template
      *ngSwitchCase="'template'"
      [ngTemplateOutlet]="button.content"
      [ngTemplateOutletContext]="{ $implicit: button }"
    >
    </ng-template>
  </ng-container>


</div>
